In [40]:
import gmaps
import pandas as pd
import requests

# Google developer API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2022-01-29 20:46:30,-21.2000,-175.2000,81.46,78,100,16.84
1,1,Lakes Entrance,AU,2022-01-29 20:46:30,-37.8811,147.9810,67.57,96,100,7.40
2,2,Rikitea,PF,2022-01-29 20:46:31,-23.1203,-134.9692,77.32,73,100,10.71
3,3,Yulara,AU,2022-01-29 20:46:31,-25.2406,130.9889,80.44,65,100,16.11
4,4,Zhanakorgan,KZ,2022-01-29 20:46:31,43.9098,67.2495,25.18,90,60,6.33

In [9]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# # Get the maximum temperature. > setting negative temperatures to 0
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [27]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(20.0, 20.0), zoom_level=2)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(
    locations, 
    weights=[max(temp, 0) for temp in max_temp], 
    dissipating=False, 
    max_intensity=300, 
    point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [36]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2022-01-29 20:46:30,-21.2000,-175.2000,81.46,78,100,16.84
2,2,Rikitea,PF,2022-01-29 20:46:31,-23.1203,-134.9692,77.32,73,100,10.71
3,3,Yulara,AU,2022-01-29 20:46:31,-25.2406,130.9889,80.44,65,100,16.11
6,6,Port Alfred,ZA,2022-01-29 20:46:32,-33.5906,26.8910,70.18,83,46,12.37
13,13,Omboue,GA,2022-01-29 20:46:35,-1.5746,9.2618,78.60,86,98,6.15
15,15,Hithadhoo,MV,2022-01-29 20:46:35,-0.6000,73.0833,80.87,67,89,3.11
16,16,Cape Town,ZA,2022-01-29 20:41:48,-33.9258,18.4232,72.01,71,20,4.00
17,17,Grand Gaube,MU,2022-01-29 20:46:36,-20.0064,57.6608,81.00,75,90,3.00
21,21,Pisco,PE,2022-01-29 20:46:37,-13.7000,-76.2167,75.25,64,0,16.11
34,34,Vila Velha,BR,2022-01-29 20:42:37,-20.3297,-40.2925,84.15,82,20,15.01

In [37]:
preferred_cities_df.count()

City_ID       190
City          190
Country       189
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [38]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0         Vaini      TO     81.46 -21.2000 -175.2000
2       Rikitea      PF     77.32 -23.1203 -134.9692
3        Yulara      AU     80.44 -25.2406  130.9889
6   Port Alfred      ZA     70.18 -33.5906   26.8910
13       Omboue      GA     78.60  -1.5746    9.2618
15    Hithadhoo      MV     80.87  -0.6000   73.0833
16    Cape Town      ZA     72.01 -33.9258   18.4232
17  Grand Gaube      MU     81.00 -20.0064   57.6608
21        Pisco      PE     75.25 -13.7000  -76.2167
34   Vila Velha      BR     84.15 -20.3297  -40.2925

In [43]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found ... skipping")

Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping

In [44]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Vaini,TO,81.46,-21.2000,-175.2000,Keleti Beach Resort
2,Rikitea,PF,77.32,-23.1203,-134.9692,People ThankYou
3,Yulara,AU,80.44,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
6,Port Alfred,ZA,70.18,-33.5906,26.8910,The Halyards Hotel
13,Omboue,GA,78.60,-1.5746,9.2618,Hotel Olako
15,Hithadhoo,MV,80.87,-0.6000,73.0833,Scoop Guest House
16,Cape Town,ZA,72.01,-33.9258,18.4232,Southern Sun Waterfront Cape Town
17,Grand Gaube,MU,81.00,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
21,Pisco,PE,75.25,-13.7000,-76.2167,Hotel San Isidro Oficial
34,Vila Velha,BR,84.15,-20.3297,-40.2925,Quality Suites Vila Velha

In [50]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]